/*-- scss:defaults --*/
// https://quarto.org/docs/output-formats/html-themes.html#theme-options
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// https://sass-lang.com


/*-- scss:rules --*/

.btn-quarto {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
}