/* css styles */

/* To center captions */
.figure {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    text-align: center;
}

.quarto-figure {
  margin-top: -3em;
}

.raincloud-custom {
  margin-top: 2.5em;
}

.plot-d6a7b5-swatches-wrap {
  justify-content: center;
}

path.leaflet-interactive{outline: none;}

.btn-quarto {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px;
}
